[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Mark Becwar
	email = mark@thebecwar.com
[core]
	editor = gvim
[merge]
	tool = kdiff3
	conflictstyle = diff3
[mergetool]
	prompt = false
	keepBackup = false
[mergetool "kdiff3"]
	path = C:/Program Files/KDiff3/kdiff3.exe
    cmd = kdiff3 --L1 \"$MERGED (Base)\" --L2 \"$MERGED (Local)\" --L3 \"$MERGED (Remote)\" -o \"$MERGED\" \"$BASE\" \"$LOCAL\" \"$REMOTE\"
    trustExitCode = false
[diff]
	tool = kdiff3
	guitool = kdiff3
[difftool "kdiff3"]
	path = C:/Program Files/KDiff3/kdiff3.exe
	trustExitCode = false
